/* refused to work */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #de4646;
  color: #180303;
}




.navbar-brand {
  display: flex;
  align-items: center;
}

.logo {
  height: 40px;
  margin-right: 10px;
}


.visitor-count {
  font-size: 0.9rem;
  color: #2da40d;
  position: absolute;
  top: 5px;
  right: 5px;
}


.nav-link {
  color: #ca500e !important;
  margin-right: 15px;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #007bff !important;
}

.dropdown-menu {
  background-color: #706e08;
  border: 1px solid #ccc;
}

.current-time {
  font-size: 0.8rem;
  color: #333;
  white-space: nowrap;
}


.container {
  padding: 1rem;
}


h1, h2, h4 {
  margin-bottom: 1rem;
}


ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  background: #b004b0;
  border: 1px solid #510dd8;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
}

ul li h4 {
  margin-top: 0;
}


iframe {
  border: none;
  border-radius: 5px;
}


@media (max-width: 768px) {
  .navbar-brand, .nav-link {
    font-size: 0.9rem;
  }
  
  .container {
    padding: 0.5rem;
  }
}
